
// Black
$color-black-light: #262626;
$color-black-nav: #131418;
$color-black-skill: #1d1b1b;

// Others
$color-gold: #D78833;
$color-white: #fff;
$color-red: #DC2060;
$color-gray: #9d9d9d;

// Linear Gradient
$linear-gradient-right: linear-gradient(to right, #EE811E, #DC2060);