@import '../../styles';

.app {
  width: 90%;
  margin: 0 auto;
  @include transition(1s);
  position: relative;
}


@media screen and (min-width: 768px) {
  .app {
    width: 70%;
  }
}

@media screen and (min-width: 999px) {
  .app {
    width: 60%;
  }
}