.app {
  width: 90%;
  margin: 0 auto;
  transition: 1s;
}


@media screen and (min-width: 768px) {
  .app {
    width: 70%;
  }
}

@media screen and (min-width: 999px) {
  .app {
    width: 60%;
  }
}