@import '../../styles';

.header {
  background-color: #262626;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;

  &-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to right, #EE811E, #DC2060);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    
    &-title {
      width: 25%;
    }

    &-list {
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      font-size: 14px;
      width: 65%;

      &-item {

        & a {
          background: linear-gradient(to bottom, $color-gold 0%, $color-gold 100%);
          background-position: 0 100%;
          background-repeat: repeat-x;
          background-size: 3px 3px;
          text-decoration: none;
      
          &:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: 0 100%;
            background-size: auto 6px;
            background-repeat: repeat-x;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    
    &-title {
      width: 25%;
    }
  }
}