@import '../../../styles';

.fiche {
  background-color: $color-black-light;
  margin: 1rem 0;

  &-container-infos {
    padding: 1rem;
  }

  &-title {
    color: $color-gold;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 20px;
  }

  &-subtitle {
    margin: 2rem 0 1rem;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
  }

  &-desc {
    margin: 2rem 0 1rem;
    text-align: justify;
    line-height: 1.3rem;
    letter-spacing: .02rem;
    word-break: break-word;
  }

  &-img {
    display: none;
  }

  &-container-img {
    width: 100%;
  }

  &-link {
    background: linear-gradient(to bottom, $color-gold 0%, $color-gold 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    text-decoration: none;
    
    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: 0 100%;
      background-size: auto 6px;
      background-repeat: repeat-x;
      text-decoration: none;
    }
  }

}

@media screen and (min-width: 768px) {
  .fiche {
    display: flex;

    &-subtitle {
      font-size: 22px;
    }

    &-container-infos {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-img {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
      height: 100%;
    }
  }
}


@media screen and (min-width: 1000px) {
  .fiche {
    &-subtitle {
      margin-top: 10%;
    }
    &-desc {
      margin-top: 50px;
    }
  }
}