@import '../../../styles';

.fiche {
  background-color: $color-black-light;
  margin: 1rem 0;

  &-container-infos {
    padding: 1rem;
  }

  &-title {
    color: $color-gold;
    font-weight: 600;
    letter-spacing: .05rem;
    font-size: 20px;
  }

  &-subtitle {
    margin: 3rem 0 1rem;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 600;
  }

  &-desc {
    margin: 2rem 0 1rem;
    text-align: justify;
    line-height: 1.3rem;
    letter-spacing: .02rem;
    word-break: break-word;
  }

  &-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .fiche {
    display: flex;

    &-subtitle {
      font-size: 22px;
    }

    &-container-infos {
      display: flex;
      flex-direction: column;
    }

    &-img {
      padding: 0;
      margin: 0;
      width: 100%;
      display: block;
      height: 100%;
    }
  }
}